/*.u-section-1 {
  min-height: 717px;
}
.u-section-1 .u-image-1 {
  width: 801px;
  left: auto;
  right: 0;
  margin-bottom: 0;
}
.u-section-1 .u-layout-wrap-1 {
  width: 1115px;
  margin: 60px auto 60px calc(((100% - 1140px) / 2));
}
.u-section-1 .u-image-2 {
  background-image: url("images/handsome-young-businessman-shirt-eyeglasses_85574-6228.jpg");
  background-position: 50% 50%;
  min-height: 714px;
}
.u-section-1 .u-container-layout-1 {
  padding: 30px;
}
.u-section-1 .u-layout-cell-2 {
  min-height: 714px;
}
.u-section-1 .u-container-layout-2 {
  padding: 30px;
}
.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 45px 0 0;
}
.u-section-1 .u-text-2 {
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 597px;
    margin-bottom: initial;
  }
  .u-section-1 .u-layout-wrap-1 {
    width: 786px;
    margin-left: calc(((100% - 940px) / 2));
  }
  .u-section-1 .u-image-2 {
    min-height: 602px;
  }
  .u-section-1 .u-layout-cell-2 {
    min-height: 602px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 638px;
  }
  .u-section-1 .u-image-1 {
    width: 455px;
    margin-bottom: initial;
  }
  .u-section-1 .u-layout-wrap-1 {
    width: 630px;
    margin-left: calc(((100% - 720px) / 2));
  }
  .u-section-1 .u-image-2 {
    min-height: 510px;
  }
  .u-section-1 .u-layout-cell-2 {
    min-height: 510px;
  }
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 977px;
  }
  .u-section-1 .u-layout-wrap-1 {
    width: 455px;
    margin-left: calc(((100% - 540px) / 2));
  }
  .u-section-1 .u-image-2 {
    min-height: 579px;
  }
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-1 .u-layout-cell-2 {
    min-height: 364px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 711px;
  }
  .u-section-1 .u-image-1 {
    width: 304px;
    margin-bottom: initial;
  }
  .u-section-1 .u-layout-wrap-1 {
    width: 291px;
    margin-left: calc(((100% - 340px) / 2));
  }
  .u-section-1 .u-image-2 {
    min-height: 433px;
  }
  .u-section-1 .u-layout-cell-2 {
    min-height: 407px;
  }
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}*/
.greeting{
  opacity: 0.8;

}
div.transbox p {
  margin: 7%;
  font-weight: bold;
  color: #000000;
}
div.transbox {
 
  /* margin-left: 65px; */
  background-color: #ffffff;
  border: 1px solid #fff;
  opacity: 0.70;
}
.message{
  top: 60px;

  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75)
  ), url(assets/img/glimpses/g6.jpg);
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}
.u-section-2 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    url("images/57e5dd4a4c56a414f6da8c7dda793678153bdee757596c48702672dd9e49c35dbe_1280.jpg");
  background-position: 50% 50%;
}
.u-section-2 .u-sheet-1 {
  min-height: 339px;
}
.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 40px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 500px;
  }
}
.u-section-3 .u-sheet-1 {
  min-height: 492px;
}
/* .u-section-3 .u-text-1 {
  margin: 20px 40% 0;
} */
.u-section-3 .u-table-1 {
  margin-top: 20px;
  margin-bottom: 54px;
  margin-left: 100px;
}
.u-block-8592-4 {
  font-size: 1.875rem;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
.u-section-3 .u-table-body-1 {
  line-height: 2;
}
.u-section-3 .u-table-cell-1 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
.u-section-3 .u-table-cell-2 {
  font-size: 20px;
}
.u-section-3 .u-table-cell-3 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
.u-section-3 .u-table-cell-4 {
  font-size: 20px;
}
.u-section-3 .u-table-cell-5 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
.u-section-3 .u-table-cell-6 {
  font-size: 20px;
}
.u-section-3 .u-table-cell-7 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
.u-section-3 .u-table-cell-8 {
  font-size: 20px;
}
.u-section-3 .u-table-cell-9 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
.u-section-3 .u-table-cell-10 {
  font-size: 20px;
}
.u-section-3 .u-table-cell-11 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
.u-section-3 .u-table-cell-12 {
  font-size: 20px;
}
.u-section-3 .u-table-cell-13 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
}
.u-section-3 .u-table-cell-14 {
  font-size: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 492px;
  }
  .u-section-3 .u-text-1 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .u-section-3 .u-table-entity-1 {
    height: 385px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 02px;
    margin-left: 0px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0px;
    margin-left: 0px;
  }
}
.u-section-4 {
  background-image: none;
}
.u-section-4 .u-sheet-1 {
  min-height: 437px;
}
.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 20px 0;
}
.u-section-4 .u-layout-cell-1 {
  min-height: 337px;
}
.u-section-4 .u-container-layout-1 {
  padding: 30px;
}
.u-section-4 .u-text-1 {
  margin: 0;
}
.u-section-4 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 32px 0 0;
}
.u-section-4 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px auto 0;
}
.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  margin: 22px auto 0;
}
.u-section-4 .u-layout-cell-2 {
  min-height: 337px;
}
.u-section-4 .u-container-layout-2 {
  padding: 30px;
}
.u-section-4 .u-text-4 {
  margin: 26px 0 0;
}
.u-section-4 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 44px 0 0;
}
.u-section-4 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px auto 0;
}
.u-section-4 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}
.u-section-4 .u-layout-cell-3 {
  min-height: 337px;
}
.u-section-4 .u-container-layout-3 {
  padding: 30px;
}
.u-section-4 .u-text-7 {
  margin: 0;
}
.u-section-4 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0 0;
}
.u-section-4 .u-text-9 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px auto 0;
}
.u-section-4 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  margin: 20px auto 0;
}
.u-section-4 .u-layout-cell-4 {
  min-height: 337px;
}
.u-section-4 .u-container-layout-4 {
  padding: 30px;
}
.u-section-4 .u-text-10 {
  margin: 0;
}
.u-section-4 .u-text-11 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 32px 0 0;
}
.u-section-4 .u-text-12 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px auto 0;
}
.u-section-4 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  margin: 22px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 360px;
  }
  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }
  .u-section-4 .u-layout-cell-1 {
    min-height: 278px;
  }
  .u-section-4 .u-text-3 {
    margin-left: 49px;
  }
  .u-section-4 .u-layout-cell-2 {
    min-height: 278px;
  }
  .u-section-4 .u-layout-cell-3 {
    min-height: 278px;
  }
  .u-section-4 .u-layout-cell-4 {
    min-height: 278px;
  }
  .u-section-4 .u-text-12 {
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 276px;
  }
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }
  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }
  .u-section-4 .u-text-3 {
    margin-left: 89px;
  }
  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
  .u-section-4 .u-text-12 {
    margin-left: 89px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 207px;
  }
  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 130px;
  }
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }
}
.u-section-5 {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
    url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJkZWZhdWx0LWltYWdlLXNvbGlkIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgNDAwIDI2NSIgc3R5bGU9IndpZHRoOiA0MDBweDsgaGVpZ2h0OiAyNjVweDsiPg0KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjQwMCIgaGVpZ2h0PSIyNjUiLz4NCjxwYXRoIGZpbGw9IiNEOUUzRTgiIGQ9Ik0zOTUuMyw5Ni4yYy01LTAuOC02LjEsMS4xLTguNSwyLjljLTEtMi4zLTIuNi02LjItNy43LTVjMS41LTUuMy0yLjYtOC40LTcuNy04LjRjLTAuNiwwLTEuMiwwLjEtMS44LDAuMg0KCWMtMS44LTQuMS02LTYuOS0xMC43LTYuOWMtNi41LDAtMTEuOCw1LjMtMTEuOCwxMS44YzAsMC40LDAsMC45LDAuMSwxLjNjLTEuMi0wLjgtMi41LTEuMy0zLjktMS4zYy00LjMsMC03LjksNC4yLTcuOSw5LjQNCgljMCwxLjIsMC4yLDIuNCwwLjYsMy41Yy0wLjUtMC4xLTEtMC4xLTEuNi0wLjFjLTYuOSwwLTEyLjUsNS41LTEyLjcsMTIuNGMtMC45LTAuMi0xLjktMC40LTIuOS0wLjRjLTYuNCwwLTExLjcsNS4yLTEyLjUsMTEuOA0KCWMtMS4yLTAuNC0yLjUtMC42LTMuOS0wLjZjLTUuOSwwLTEwLjgsMy44LTEyLjEsOC45Yy0yLjQtMi01LjUtMy4yLTguOS0zLjJjLTYsMC0xMS4xLDMuNy0xMi44LDguOGMtMS41LTEuNC0zLjgtMi4zLTYuMy0yLjMNCgljLTIuMSwwLTQuMSwwLjYtNS41LDEuN2gtMC4xYy0xLjMtNS41LTYuMi05LjUtMTIuMS05LjVjLTIuNCwwLTQuNywwLjctNi42LDEuOWMtMS40LTAuNy0zLTEuMi00LjgtMS4yYy0wLjMsMC0wLjUsMC0wLjgsMA0KCWMtMS41LTQuMS01LjItNy05LjUtN2MtMy4xLDAtNS45LDEuNS03LjgsMy45Yy0yLjItNC44LTYuOC04LjItMTIuMi04LjJjLTUuNiwwLTEwLjUsMy43LTEyLjUsOC44Yy0yLjEtMC45LTQuNC0xLjUtNi45LTEuNQ0KCWMtNi44LDAtMTIuNSwzLjktMTQuNSw5LjNjLTAuMiwwLTAuNSwwLTAuNywwYy01LjIsMC05LjYsMy4yLTExLjQsNy44Yy0yLjctMi44LTctNC41LTExLjgtNC41Yy0zLjMsMC02LjQsMC45LTguOSwyLjMNCgljLTIuMS02LjUtOC0xMi4yLTE4LjEtOS45Yy0yLjctMi4zLTYuMy0zLjctMTAuMS0zLjdjLTIuNSwwLTQuOCwwLjYtNi45LDEuNmMtMi4yLTUuOS03LjktMTAuMS0xNC42LTEwLjFjLTguNiwwLTE1LjYsNy0xNS42LDE1LjYNCgljMCwwLjksMC4xLDEuNywwLjIsMi41Yy0yLjYtNS03LjgtOC40LTEzLjgtOC40Yy04LjMsMC0xNS4xLDYuNS0xNS42LDE0LjZjLTIuOS0zLjItNy01LjMtMTEuNy01LjNjLTcuNCwwLTEzLjUsNS4xLTE1LjIsMTINCgljLTIuOS0zLjUtOS44LTYtMTQuNy02djExOS4yaDQwMFYxMDJDNDAwLDEwMiw0MDAsOTcsMzk1LjMsOTYuMnoiLz4NCjxwYXRoIGZpbGw9IiM4RUE4QkIiIGQ9Ik00MDAsMjA2LjJjMCwwLTI1LjMtMTkuMi0zMy42LTI1LjdjLTEzLjQtMTAuNi0yMy4xLTEyLjktMzEuNy03cy0yMy45LDE5LjctMjMuOSwxOS43cy01OC45LTYzLjktNjEuNS02Ni40DQoJYy0xLjUtMS40LTMuNi0xLjctNS41LTAuOWMtNS4yLDIuNC0xNy42LDkuNy0yNC41LDEyLjdjLTYuOSwyLjktNDEtNTAuNy00OS42LTUzcy04NC4zLDgzLjMtMTAxLjQsNzUuMXMtMjYuOS0yLjMtMzUuNCwzLjUNCgljLTguNiw1LjktMTEsNS45LTE1LjksOC4ycy0xNy4xLTUuOS0xNy4xLTUuOVYyNjVjMCwwLDQwMCwwLjIsNDAwLDB2LTU4LjhINDAweiIvPg0KPHBhdGggZmlsbD0iIzdFOTZBNiIgZD0iTTMzMy40LDE3OWMtMTMuMS05LjMtNDAsNC42LTU1LjEsMTAuN2MtMjMuNiw5LjYtOTQtNTQuNC0xMDcuMi01OS43YzAsMC00LjIsMy43LTkuNiw3LjYNCgljLTMuNS0wLjQtOC40LTUuNy05LjktNC43Yy00LjYsMy4xLTE3LjgsMTUuNC0yOC4zLDI2LjZjLTEwLjUsMTEuMy0xMS43LDAtMTUuOC0wLjZjLTIuNS0wLjQtNTQuMSw0Mi41LTU4LjcsNDMuMQ0KCUMyMi4zLDIwNS4zLDAsMTk3LjUsMCwxOTcuNVYyNjVsNDAwLTAuMXYtNTMuM0M0MDAsMjExLjYsMzQ0LjgsMTg3LjEsMzMzLjQsMTc5eiIvPg0KPHBhdGggZmlsbD0iIzc4OEY5RSIgZD0iTTAsMjY0Ljl2LTU4LjZjMCwwLDguMiwxLjgsMTEuMyw1LjNjMy4xLDMuNiwyNi4xLTQuMiwyNi4xLDQuN3MwLjUsNC4yLDAuNSwxNC44YzAsMTAuNywyMy00LjIsMzguMS0xOC40DQoJczM0LjktNDkuMiwzNi0zNWMxLDE0LjItMTUuMSwzOS4yLTI0LDU2LjRDNzkuMSwyNTEuNCw1MS43LDI2NSw1MS43LDI2NUwwLDI2NC45eiIvPg0KPHBhdGggZmlsbD0iIzc4OEY5RSIgZD0iTTEwMCwyNjVjMCwwLDY2LjctMTI1LjEsNjguMy0xMTYuOHMtNi44LDI5LjcsMi4xLDI2LjFjOC45LTMuNiwxNC42LTE2LDE4LjgtOS41czE2LjIsMzguNiwyMS45LDMzLjgNCgljNS43LTQuNywyMS40LTEzLjEsMjIuNC02LjVjMSw2LjUtMSw1LjMtNS43LDIwLjJDMjIzLjEsMjI3LjEsMjAwLDI2NSwyMDAsMjY1aC0xMGMwLDAsNi0yNC44LDguNi0zNC45YzIuNi0xMC4xLTMuNy0xOS0xMi04LjMNCglzLTIzLDIyLTI0LDE3LjhzLTUuNy0zMC4zLTE4LjgtMTQuMmMtMTMsMTYtMzMuOCwzOS43LTMzLjgsMzkuN2gtMTBWMjY1eiIvPg0KPHBhdGggZmlsbD0iIzc4OEY5RSIgZD0iTTI0NSwyNjVjMCwwLDE5LjgtNTQuNywzMy40LTY0LjJzNTMuNy0yNy45LDQ2LjktMTMuNmMtNi44LDE0LjItMTEsMzQuNC0yMC4zLDQ5LjgNCgljLTkuNCwxNS40LTE4LjgsMjYuMS0xNC4xLDEzLjZjNC43LTEyLjUsNi40LTIzLjMsMy43LTIzLjFDMjcxLjMsMjI5LjEsMjYwLDI2NSwyNjAsMjY1SDI0NXoiLz4NCjwvc3ZnPg0K");
  background-position: 50% 50%;
}
.u-section-5 .u-sheet-1 {
  min-height: 411px;
}
.u-section-5 .u-text-1 {
  width: 670px;
  font-size: 1.25rem;
  margin: 60px auto 0;
}
.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 388px;
  min-width: 196px;
  margin: 31px auto 60px;
}
.u-section-5 .u-icon-1 {
  height: 100%;
}
.u-section-5 .u-icon-2 {
  height: 100%;
}
.u-section-5 .u-icon-3 {
  height: 100%;
}
.u-section-5 .u-icon-4 {
  height: 100%;
}
.u-section-5 .u-icon-5 {
  height: 100%;
}
.u-section-5 .u-icon-6 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }
  .u-section-5 .u-text-1 {
    height: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 195px;
  }
  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 123px;
  }
  .u-section-5 .u-text-1 {
    width: 340px;
  }
  .u-section-5 .u-social-icons-1 {
    width: 340px;
  }
}

#header {
  height: 80px;
  padding: 15px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background-color: #060c22;
}

@media (max-width: 991px) {
  #header {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
    padding: 15px 0;
    transition: all 0.5s;
  }
}

@media (max-width: 1199px) {
  #header .container {
    max-width: 100%;
  }
}

#header.header-scrolled,
#header.header-fixed {
  background: rgba(6, 12, 34, 0.98);
  height: 70px;
  padding: 15px 0;
  transition: all 0.5s;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/*#header #logo h1 span {
    color: #fff;
  }
  
  #header #logo h1 a,
  #header #logo h1 a:hover {
    color: #fff;
  }*/

#header #logo img {
  padding: -6px 0;
  margin: 0;
  max-height: 55px;
}

/* ----------------------- NAV MENU ------------------*/
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
  padding: 25px 0;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 991px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 3px 8px;
  text-decoration: none;
  display: inline-block;
  color: rgba(202, 206, 221, 0.8);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  outline: none;
}

@media (max-width: 1199px) {
  .nav-menu a {
    padding: 8px 4px;
  }
}

.nav-menu .menu-active a,
.nav-menu a:hover {
  color: #fff;
}

.nav-menu > li {
  margin-left: 8px;
}

.nav-menu > li > a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fcc203;
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
  visibility: visible;
  width: 100%;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 15px 15px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 991px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(6, 12, 34, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 17px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fcc203;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #ff5e07;
}

#mobile-nav ul .menu-item-active {
  color: #ff5e07;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(6, 12, 34, 0.8);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}
.social-f {
  width: 100%;
  height: 80px;
  background-color: transparent;
  padding-top: 33px;
  text-align: center;
  padding-bottom: 80px;
}
.icons {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  background-color: #0c1639;
  padding-bottom: 8px;
}
.social-f a i {
  position: relative;
  top: 31%;
}
.icons:hover {
  color: #f54024;
}
footer {
  background-color: #060c22;
}
.contact {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 18px;
  text-align: center;
  overflow: hidden;
  color: white;
  line-height: 18px;
}
.contact span {
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-align: center;

  color: #f54024;
}

a {
  user-select: none !important; 
  cursor: default !important;  
}

a:hover { text-decoration: none !important; }
